img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 40%;
  height: auto;
  padding: 0 30%;
  margin-top: 3%;
}

.Homename {
  margin-top: 3%;
  color: black;
  text-align: center;
  font-size: 4vw;
}

@media screen and (max-width: 500px) {
  .Homename {
    margin-top: 5%;
    font-size: 50px;
  }

  img {
    margin-top: 10%;
    width: 70%;
    height: auto;
    padding: 0 15%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 600ms;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 600ms;
  -moz-transition: opacity 600ms;
  -ms-transition: opacity 600ms;
  -o-transition: opacity 600ms;
}
.overlay:target {
  visibility: visible;
  opacity: 1500;
}

.popup {
  margin: 200px auto;
  padding: 20px;
  background: pink;
  border-radius: 1px;
  min-width: 30%;
  max-width: 50%;
  height: 25%;
  max-height: 50%;
  position: relative;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 3px;
  right: 7px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}
.popup .close:hover {
  color: #868d89;
}
.popup .content {
  max-height: 60%;
  overflow: auto;
}
